<div class="about-container">
  <div class="about-text slide-in-left">
    <p class="intro">Hi there, This is</p>
    <h1 class="name">{{about?.name}}</h1>
    <h2 class="role">{{about?.title}}</h2>
    <h4 class="location">
      {{about?.location}}
    </h4>
    <p class="description">
      {{about?.description}}
    </p>
    <button class="contact-btn" (click)="scrollToContact()">Contact Me</button>
  </div>

  <div class="about-image slide-in-right">
    <img src="../../../assets/Images/Giri.jpg" alt="Giridharan's Profile Image" class="profile-img" />
  </div>
</div>